numpy
pandas
scikit-learn
requests
beautifulsoup4
python-dotenv
langchain
serpapi
einops
accelerate
bitsandbytes
faknow==0.0.3
streamlit==1.32.2
gdown==4.6.0
openai==1.14.2
joblib~=1.2.0
gensim~=4.3.0
nltk~=3.8.1
langchain==0.1.9
pinecone-client==3.1.0
prompt-toolkit==3.0.41
